.footer {
    z-index: 1020;
    padding: 15px 10px;
    margin: 0 0 0 250px;
    margin-left:0;
    margin-top:-16px;
    height:50px;
    line-height: 10px;
    font-weight: 400;
    font-size:14px;
    color: #4e5c68;
    background: #FFF;
}

