/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700';
@import 'assets/css/default/app.min.css';

footer{
    position:absolute;
    bottom:0;
    width:100vw;
}

