.timeline:before{
    left: 50%;
    bottom:30px;
}

#loading-quote
{
    text-align: center;
    font-size: 28px;
    width: 100%;
    height: 80%;
    margin-top: 16%;
    font-weight:300;
}

#loading-quote i{
    font-size: 68px;
    color: #00acac;
}

#empty-quote
{
    text-align: center;
    font-size: 28px;
    width: 100%;
    margin-top: 10px;
    height: 80%;
    padding-top: 16%;
    padding-bottom: 16%;
    font-weight: 300;
    background-color: #FFF;
}


.timeline
{
    margin-top: 15px;
    background-color: #FFF;
    padding-bottom: 35px;
}

.timeline .timeline-icon {
    left: 44.9%;
}

.timeline .left-adjust {
    left: 30%;
    text-align: right;
}

.timeline .right-adjust {
    left: 53%;
    text-align: left;
}

.title-result
{
    font-size: 21px;
    font-weight: 200;
    display: block;
    margin-top: -8px;
}

.values-result
{
    font-size: 14px;
    font-weight: 200;
    display: block;
    margin-top: -2px;
}

.fa.fa-arrow-right
{
    position: absolute;
    top: 8px;
    right: -8px;
    font-size: 16px;
}

.head-fixed{ overflow-y: auto; height: 85vh; }
.head-fixed thead th { position: sticky; top: 0; }

table  { border-collapse: collapse; width: 100%; background-color:#FFF }
th, td { padding: 8px 16px;cursor:pointer; }
th     { background:#444; color:#FFF; font-size: 16px; font-weight: 200; }