<!-- begin page-header -->
<br/>

<!-- end page-header -->

<div class="row">
  <div class="col-sm-5"><br/><h1 class="page-header">Calcular Viagem<small> <br/>(escolha o local de partida e o destino)</small></h1>
  
    <div class="row">
      <div class="col-sm-2">
    <select  class="form-control" [(ngModel)]="departure">
      <option *ngFor="let place of places" [value]="place" >{{place}}</option> 
    </select>
    <i class="fa fa-arrow-right"></i>
  </div>
    <div class="col-sm-2">
    <select  class="form-control" [(ngModel)]="arrival" (change)="quote()">
      <option *ngFor="let place of places" [value]="place" >{{place}}</option>
    </select>
  </div>
  <div class="col-sm-2">
    <button class="btn btn-success" (click)="quote()" >PROCURAR</button>
  </div>
  <div class="col-sm-6">
    <span class="title-result">Resultado</span>
    <span class="values-result"><b>Conexões:</b> {{connections.length}} &nbsp;&nbsp;<b>Valor Total:</b> R$ {{totalCost | number:'1.2-2' }}</span>
  </div>
</div>
<div>
  <div *ngIf="processing" id="loading-quote" > <i class="fas fa-spinner fa-pulse"></i></div>
  <div *ngIf="!processing && connections.length < 1" id="empty-quote" >Nenhuma Rota Disponível</div>
    <ul class="timeline" *ngIf="!processing && connections.length > 0" >
      <li *ngFor="let connection of connections; let pos = index" >
        <!-- begin timeline-time -->
        <div class="timeline-time left-adjust">
          <span class="date">{{pos == 0 ? "Início" : pos == (connections.length-1) ?  "Término" : "Conexão" + pos}}</span>

        </div>
        <!-- end timeline-time -->
        <!-- begin timeline-icon -->
        <div class="timeline-icon">
          <a href="javascript:;">&nbsp;</a>
        </div>
        <!-- end timeline-icon -->
        <div class="timeline-time right-adjust">
          <span class="date">R$ {{connection.price | number:'1.2-2' }}</span>
          <span class="time">{{connection.from}}-{{connection.to}}</span>
        </div>
      </li>    
      
    </ul>
</div>
  </div>
  <div class="col-sm-7">
<!-- begin panel -->

    <div class="head-fixed">
    <table class="table table-striped table-hover m-b-0 text-inverse ">
      <thead>
          <tr>
            <th>Origem</th>
            <th>Destino</th>
            <th>Custo (R$)</th>
            <th></th>
          </tr>
          <tr>
            <th>
              <input type="text" placeholder="Origem" [(ngModel)]="newRoute.from">
            </th>
            <th>
              <input type="text" placeholder="Destino" [(ngModel)]="newRoute.to">
            </th>
            <th>
              <input type="text" placeholder="Preço" [(ngModel)]="newRoute.price ">
            </th>
            <th>
              <button  class="btn btn-success btn-sm" (click)="create()" > + </button>
            </th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let route of routes; let pos = index" >
          <td >{{route.from}}</td>
          <td >{{route.to}}</td>
          <td >{{route.price | number:'1.2-2'}}</td>
          <td><button class="btn btn-danger btn-sm" (click)="delete(pos)"> - </button></td>
         </tr>
    
      </tbody>
    </table>  </div>
  </div>
</div>

  


